.chart-container {
  height: 250px;
}

canvas {
  width: 100% !important;
}

//Line Chart

.line-chart {
  display: flex;
  align-items: right;
  justify-content: center;

  .chart-buttons {
    margin-left: auto;
    font-size: $font-size;
  }
}


.chart-buttons input[type="radio"] {
  opacity: 0;
  width: 50px;
}

.chart-buttons {

  .button {
    width: 50px;
    display: inline-block;
    text-align: center;

    label {
      border: none;
      background: none;
      cursor: pointer;
      color: $color-text;
      font-weight: bold;
    }
  }

}

.chart-buttons input[type="radio"]:checked+label {
  background-color: $color-green;
  color: #FFF;
  outline: none;
  padding: 6px;
  border-radius: 15px;
}