.input-search {
  display: block;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-image: url(../icons/icon-search.png);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 20px;
  border: $border;

}

.input-search:hover {
  background-color: #DCDCDC;

}

//input-search fields for message to user
#input-search,
#input-message {
  @include widget-padding;
  border: $border;
  border-radius: 5px;
  display: block;
}

#input-search {
  height: 2em;
  margin: 7px auto;
}

#input-message {
  height: 10em;
  margin: 7px auto;

}