.input-search {
  display: block;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-image: url(../icons/icon-search.png);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 20px;
  border: $border;
  font-size: $font-size;
}

.input-search:hover {
  background-color: #DCDCDC;

}

/* Autocomplete*/

.ui-menu-item {
  font-size: $font-size;
  color: $color-text;

}


//input-search fields for message to user
#input-search,
#input-message {
  @include widget-padding;
  border: $border;
  border-radius: 5px;
  display: block;
  background-color: $color-background;
  margin: 7px auto;
  padding: 10px 20px;
  font-size: $font-size;
}

#input-search::placeholder,
#input-message::placeholder {
  color: $color-text-lighter;
}

#input-search {
  height: 2em;
}

#input-message {
  height: 10em;
}