.images {
  display: block;
  max-width: 100%;
}

.lb-details {
  width: 100% !important;
}

.lb-close {
  display: inline-block !important;
  text-align: center !important;
  float: none !important;
}