/* General grid for whole site including header, left sidebar, and main content */
header {
  background-color: $color-primary;
  color: #FFF;
  grid-column: 1 / 2;
}

nav {
  grid-column: 1 / 2;

}

main {
  background: #FFF;
  grid-column: 1 / 2;
}


body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr; //1 column track
}

/* Inner grid including widgets */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;

  div {
    grid-column: auto;
    grid-row: auto;
  }
}

.widget {
  @include widget-small;
  border-top: $border;
}