.notification-icon {
  margin-left: auto;
  margin-right: 25px;
  padding-right: 10px;
  border-right: solid $color-secondary .5px;
}

.profile-avatar img {
  border-radius: 50%;
  margin-right: 1em;
}