@media screen and (min-width: $breakpoint-tablet) {
  body {
    grid-template: auto 1fr / auto 1fr
  }

  main {
    background: #FFF;
    grid-column: 2 / 3;
  }

  header {
    grid-column: 1 / 3;
  }

  .container-social {
    flex-direction: row;

    .social-media {
      width: 25%;
    }
  }

  #social-stats {
    margin-bottom: 20px;

  }

  .profile-avatar span {
    display: block;
  }

  .media-name {
    font-size: 16px;
  }

  .media-number {
    font-size: 26px;

  }

  //Line Chart

  .line-chart {
    display: flex;
    align-items: center;

    .chart-buttons {
      margin-left: auto;
      font-size: $font-size;
      margin-right: 20px;

    }
  }
}

@media screen and (min-width: $breakpoint-laptop) {


  .media-name {
    font-size: 18px;
  }

  .media-number {
    font-size: 30px;

  }

  .mobile-nav {
    display: none;
  }

  #hamburger-link {
    display: none;
  }

  .desktop-nav {
    display: block !important;
  }

  #dashboard-button {
    display: block;

  }

  .grid {
    grid-template-columns: repeat(2, 1fr);

  }

  #traffic {
    @include widget-large;
    grid-column: 1 / span 2;
  }

  #daily-traffic {
    grid-column: 1 / span 1;
    border-right: $border;
  }

  #mobile-users {
    grid-column: 2 / span 1;
  }

  #social-stats {
    @include widget-large;
    grid-column: 1 / span 2;
  }

  #new-members {
    grid-column: 1 / span 1;
    border-right: $border;
  }

  #recent-activity {
    grid-column: 2 / span 1;
  }

  #message-user {
    grid-column: 1 / span 1;
    border-right: $border;
  }

  #settings {
    grid-column: 2 / span 1;
  }


}