nav {
  background-color: $color-secondary;
  width: auto;
  display: none;
}

.nav-items {
  height: 25px;
  width: 25px;
  padding: 15px 25px;
  margin: 10px 0px;
}

.nav-items:first-child {
  border-left: solid #81C98F 5px;

}