.notification-icon {
  position: relative;
}

/* Popup container */
.popup-container {
  display: none;
  position: absolute;
  flex-direction: column;
  cursor: pointer;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

/* The actual popup (appears on top) */
.pop-up {
  display: flex;
  width: 220px;
  background-color: white;
  color: $color-text;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  z-index: 1;
  border-bottom: $border;
  font-size: $font-size;
}

/* green dot */
.popup-message::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $color-green;
  display: inline-block;
  margin: 0 10px;
}

.popup-message {
  white-space: nowrap;

}



.closebtn-popup {
  color: $color-text;
  margin-left: auto;
  margin-right: 10px;
}