//Social media widget

#social-stats {
  display: flex;
  flex-direction: row !important;
  align-items: center;


}

.social-media {
  padding: 15px 20px;
  width: 25%;
  background-color: $color-background;
  border: $border;
  border-radius: 5px;
  margin: 30px 0;
}

.social-media {
  p {
    display: inline-block;
    margin: 0;

  }

  svg {
    float: left;
    margin-right: 20px;
  }
}

.media-name {
  color: $color-primary;
  font-weight: bold;

}

.media-number {
  font-size: 1em;
  color: $color-text;
  font-size: 2.2em;

}


//New members  widget

.container-members {
  font-size: .8em;

  div:last-child {
    border: none;

  }

  div {
    display: flex;
    border-bottom: $border;
    padding-bottom: 5px;
    color: $color-text;
    justify-content: space-between;
    align-items: center;



    img {
      @include round-images;

    }


    h3,
    a {
      display: block;

    }


    a:link {
      text-decoration: none;
      color: $color-primary;
    }

  }
}


.container-activity {
  font-size: .8em;


  div:last-child {
    border: none;

  }

  div {
    display: flex;
    border-bottom: $border;
    color: $color-text;
    justify-content: space-between;
    align-items: center;



    img {
      @include round-images;
      margin-right: 5px;
    }

  }
}