/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  font-weight: 400;

}

strong {
  font-weight: 700
}

h2 {
  margin-top: 15px !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}

h3 {
  margin: 0;
  font-size: .8rem;
}