/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  font-weight: 400;
}

strong {
  font-weight: 700
}

h2 {
  margin: 0;
}