/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  color: $color-text;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 1200px;
  padding: 0 1rem;
}

/* ============================================= */
/*              Plugin styles                      */
/* ============================================= */

//Captions

.lb-caption {
  text-align: center;

}

.lb-caption h1 {
  font-family: $font-stack-accent;
}

.lb-caption p {
  line-height: 1.5em;
}

.lb-number {
  font-size: 8px !important;
  color: $color-text !important;
}